.footerText{
    font-family: "Times New Roman";
    font-weight: bolder;
}
.cardText{
    font-family: "Times New Roman";
}

.cardheader{
    font-family: "Times New Roman";
    font-weight: bolder;
    text-align: center;
}
